@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>




        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <link href="~/css/StyleSheet.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="e-control"
              asp-fallback-test-property="font-size"
              asp-fallback-test-value="12px"
              asp-suppress-fallback-integrity="true">
        <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid pt-1">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
            <a class="navbar-brand">
                <img src="~/Images/emp.jpg" height="30" width="30" class="p-1" />
            </a>
            @*<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="coldiv">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#coldiv" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="coldiv">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Home" class="nav-link">List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Create" asp-controller="Home" class="nav-link">Create</a>
                    </li>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" href="#" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage
                    </a>
                    <ul class="dropdown-menu text-center"  aria-labelledby="dropdownMenuButton1">
                        <li><a asp-action="listroles" asp-controller="administration" class="dropdown-item">Roles</a></li>
                        <li><a asp-action="listusers" asp-controller="administration" class="dropdown-item">Users</a></li>
                    </ul>
                </li>
                    }
                </ul>
            </div>
            <ul class="navbar-nav me-auto ms-auto">
                @if (signInManager.IsSignedIn(User))
                {
                    <form method="post" asp-action="logout" asp-controller="account">
                        <button type="submit" class="btn btn-link">Logout @User.Identity.Name</button>
                    </form>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="login" asp-controller="Account" class="nav-link">Sign In</a>
                    </li>
                }

            </ul>
        </nav>

        <div>
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
