@model ForgotPasswordViewModel

    <div class="row">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3 mt-3">
                <input asp-for="Email" class="form-control" placeholder="Enter email">
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary"> Reset Password</button>
            </div>
        </form>
    </div>
