@model Employee

<div>
    Name : @Model.Name
</div>
<div>
    Department : @Model.Department
</div>
<div>
    Email : @Model.Email
</div>
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
</div>
