@model List<Employee>
<div class="row">
    @foreach (var emp in Model)
    {

        <div class="card col-sm-3 p-2 m-2">
            <div class="card-header"><h3>Name : @emp.Name</h3></div>
            <div class="card-text"><h6>Department : @emp.Department</h6></div>
            <div class="card-text"><h6>Email : @emp.Email</h6></div>
            <div class="card-footer"><a asp-controller="Home" asp-action="Details" asp-route-id="@emp.Id" class="btn btn-info">View</a></div>
        </div>

    }
</div>
